* {
    box-sizing: border-box;
    margin: auto;
}

.flex {
    display: flex;
}

.seccion1{
    background-color: #1f2937;

}
.header {
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 150px;
}
.seccion1 ul {
    gap: 25px;
    list-style: none;
}

.seccion1 h3{
    color: #f9faf8;
}

a {
    text-decoration: none;
}

.seccion1 a{
    color: #f9faf8;
}

.presentacion {
    justify-content: center;
    max-width: 50%;
    padding-bottom: 150px;
}

.contenedor-img {
    background-color: burlywood;
    height: 150px;
    width: 300px;
}

.centrar {
    text-align: center;
}

.seccion2 h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagen {
    border: 4px solid blue;
    border-radius: 15%;
    width: 100px;
    height: 100px;
}

.imagen-texto {
    margin-bottom: 100px;
}

.seccion3 {
    background-color: #e5e7eb;
    height: 400px;
}

.centraar {
    width: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.autor {
    justify-self: flex-end;
}
/* 
.seccion3 div {
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.cita {
    margin-top: 50px;
}

.autor {
    margin-bottom: 80px;
} */

