* {
    box-sizing: border-box;
    margin: auto;
    font-family: Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.flex {
    display: flex;
}

.seccion1{
    background-color: #1f2937;

}
.header {
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 150px;
}
.seccion1 ul {
    gap: 25px;
    list-style: none;
}

.seccion1 h3{
    color: #f9faf8;
}

a {
    text-decoration: none;
}

.seccion1 a{
    color: #f9faf8;
}

.presentacion {
    justify-content: center;
    max-width: 70%;
    gap:30px;
    padding-bottom: 150px;
}
.contenedor-img {
    background-color: burlywood;
    height: 150px;
    width: 300px;
}

.centrar {
    text-align: center;
}
.seccion2 {
    display: flex;
    flex-direction: column;

}
.seccion2 h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagen {
    border: 4px solid blue;
    border-radius: 15%;
    width: 200px;
    height: 200px;
}
.imagen-texto .imagen {
    margin: 0px 0px;
}
.imagen-texto {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
    
}

.seccion3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 300px;
}

.centraar {
    width: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.autor {
    text-align: right;
}

.cita {
    font-size: 150%;
}

/* 
.seccion3 div {
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.autor {
    margin-bottom: 80px;
} */

.seccion4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 350px;
}

.rectanguloAzul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 80%;
    border-radius: 20px;
}

.texto11{
    margin: 3% auto;
}

.rectanguloAzul input {
    background-color: #3882f6;
    border-radius: 15px;
    border-style: groove;

}

footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
}

.seccion1 h1,
.seccion1 p {
    color: white;
}